.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

a {
    text-decoration: none; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: 1;
    margin-right: 30px;

}

.logo {
        background-color: #1F2937;
    }

.logopic {
    max-width: 175px;
    width: auto;
    max-height: 175px;
    height: auto;

}

#navlinks {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 25px;
    cursor: pointer;
}

li {
    border: 2px solid #f5f0b8;
    border-radius: 20px;
    padding: 10px;
}
    
.herocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;

}

.herosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.hero {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
    
}

.herosub, #navlinks {
    font-size: 18px;
    color: #E5E7EB;
}



.heropic {
    max-height: 500px;
    height: auto;
    max-width: 500px;
    width: auto;
    border-radius: 10px;
    border: 2px solid #f5f0b8;
}

.herosignup {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #f5f0b8;
}


.info {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    
}

.elementstuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fire, .water, .air, .earth {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.elimg {
    max-width: 200px;
    max-height: 408px;
    border-color: #3882F6;
    border-radius: 15px;
    border: 5px solid #f5f0b8;
    cursor: pointer;
}

.Elements {
    display: flex;
    gap: 20px;
}

.elementsub {
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 7px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #e5e7ebf1 ;
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    padding: 100px;
    margin: 100px 200px;
    position: relative;
}

.quote cite {
    font-size: 0.8em;
    font-weight: bold;
    font-style: normal;
    margin-top: 10px;
    padding: 25px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.signupwhole {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupblock {
    display: flex;
    background-color: #3882F6;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 110px 100px;
    margin-top: 0px;
    border-radius: 10px;
}

.signuptextblock {
    display: flex;
    flex-direction: column;
}

.signuptext {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.signupsub {
    color: #E5E7EB;
}

.signupcontainer {
    display: flex;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f5f0b8;
    max-width: 100px; 
}

.signup {
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 30px;
    color: white;

}
